<div class="container">
<nav class="nav nav-pills flex-column flex-sm-row && navbar navbar-expand-0.5g navbar-dark bg-dark">
<li class="nav-item" routerLinkActive = "active">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/posts">Posts</a>
</li>
<li class="nav-item" routerLinkActive = "active">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/comments">Comments</a>
</li>
<li class="nav-item" routerLinkActive = "active">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/albums">Albums</a>
</li>
<li class="nav-item" routerLinkActive = "active">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/photos">Photos</a>
</li>
</nav>
</div>
<router-outlet></router-outlet>